# --- Core Telegram Library ---
hydrogram
tgcrypto

# --- Database (MongoDB) ---
motor
dnspython

# --- Utilities ---
psutil
humanize
pytz

# --- Web Server (For Keep-Alive/Health Check) ---
Flask
gunicorn
